*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
}

/*Classes gerais - Framework*/

.text-white{
    color: white;
}

.black1{
    background-color: #0e0e0e;

}

.black2{
    background-color: black;
}

section.container{
    width: 100%;
    
}

div.center{
    display: flex;
    max-width: 1400px;
    padding: 0 2%;
    margin: 0 auto;
}

/* Clasess Específicas*/

header{
    height: 160px;
    padding: 20px 0;

}

div.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.logo img{
    width: 130px;
    height: 110px;
}

div.input-text input{
    padding: 15px 100px;
    border-radius: 10px;
}

div.icons{
    width: 20%;
    padding: 8px 8px;
    text-align: center;
    
}

div.icons i{
    font-size: 25px;
    color: gold;
    margin: 0 10px;
    transition: 1s;
    cursor: pointer;
    
}

div.icons i:hover{
    color: red;
}

nav.menu-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    
    
}

nav.menu-desktop ul{
    display: flex;
    
}

nav.menu-desktop ul li{
    margin: 0 20px;
        
}

nav.menu-desktop ul li a{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition:1s;
    cursor: pointer;
}

nav.menu-desktop ul li a:hover{
    text-decoration: underline;
    color: red;
}

video{
    width: 100%;
}

.box{
    max-width: 1500px;
    margin: 200px 80px;
}

.box h2{
   font-size: 18px;
   font-weight: 800;
   text-transform: uppercase; 
   text-align: center;
}

.box h4{
    font-size: 13px;
    text-align: center;
}

.box span{
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    margin: 0 5px;
}

.box p{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.box input[type=submit]{
    font-size: 16px;
    font-weight: 800;
    padding: 8px 50px;
    cursor: pointer;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    
}

.box input[type=submit]:hover{
   background-color: gold;
   
}
footer{
    width: 100%;
}

footer .box-img{
    width: 40%;
    display: flex;
    align-items: center;   
}

.box-img img{
    margin-top: 150px;
    width: 18em;
}

footer .box-text{
    margin-top: 210px;
    margin-left: 500px;
    
   
}

.box-text h2{
    font-size: 18px;
    font-weight: 300;
    font-family:'Poppins', sans-serif;
    color: black;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.box-text h2:hover{
   color: red;
}

.botton-end h2{
    font-size: 20px;
    font-weight: 900;
    margin: 0 10px;
}

.botton-end input[type=email]{
    padding: 5px 60px;
    text-align: left;
    background-color: whitesmoke;
}

.botton-end input[type=submit]{
    padding: 5px 60px;
    margin: 0 15px;
    background-color: black;
    font-weight: 500;
    color: white;
    cursor: pointer;

}

.botton-end input[type=submit]:hover{
    color: gold;
    cursor: pointer;

}